.container {
    min-height:100vh;
    padding: 2.25rem;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
    /* background: #fff; */
}


.wrapper {
    flex: 0 0 auto;
    width: 100%; /* equivalent to md={11} in Bootstrap */
}

.title {
    
    background-color: #1b436f;
    padding: 0.5rem;
    font-size: 2.2rem;
    padding-left: 1rem;
    width: fit-content;
    color: white;
    display: flex;
    align-items: center;
    align-content: center;
font-weight: 500;

    gap: 1rem;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    display: flex;
    min-height:20rem ;
    /* background-color: white; */
}

.Card {
    height: auto;
    background-color: #e5e7eb; /* equivalent to bg-gray-300 in Tailwind */
    width: 45%; /* equivalent to w-5/12 in Tailwind */
    align-items: stretch;
    /* margin: 0 2.5rem;  */
}
@media screen and (max-width: 768px) {
    .content {
        padding-top: 2rem;
        flex-direction: column;
        margin-top: 0;
        gap: 2rem;
        justify-content: center;
    }
    .Card {
        width: 100%;
        margin: 0;
    }

    .container {
        min-height:100vh;
        padding: 1rem;
        margin: 0;
        width: 100%;
        display: flex;
justify-content: center;
        /* background: #fff; */
    }
    
}